<nav class=navigation>
  {% for item in site.data.navigation %}
  <!-- uncomment below line to render the names of the navigation items -->
<!--
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
-->
    <a
        href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
            <!-- comment out the image hrefs
            <img src="{{ item.image }}" alt="{{ item.alt }}"/>
        -->
            {{ item.name }}
    </a>
  {% endfor %}

</nav>

<nav class=navigation-tags>
    {% for tag in site.data.tags %}
        <a href="{{tag.link}}"
           {% if page.url == tag.link %}
                class="current"
            {% endif %}
        >
           {{ tag.name }}
        </a>
    {% endfor %}
 </nav>

<nav class=navigation-tools>
    {% for tool in site.data.tools %}
        <a href= {{ tool.link }}>
			<img src="{{ tool.imagelink }}" alt="{{ tool.alt }}"/>
        </a>
    {% endfor %}
 </nav>
