---
layout: default
---
<h1 class="Headnote">{{ page.title }}</h1>
<p >
  {{ page.date | date_to_string }} - {{ page.author }}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
</p>

<p>
{% if page.tool %}
    {% for tool in site.data.tools %}
        {% if tool.name == page.tool %}
<!--- ![{{ tool.alt }}]({{ tool.link }}) --->
<img
    src="{{ tool.link }}"
    alt="{{ tool.alt }}"
    align = left
/>
        {% endif %}
    {% endfor %}
{% endif %}

{{ page.excerpt }}
</p>

<p></p> <!-- empty paragraph to force new line-->

{{ content }}

{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}
